/* for high resalution screen  */
@media (min-width: 1200px) {
  /* .App {
      min-height: 75vh;
      max-width: 1400px;
      margin: auto;
  } */
}
/* // common style heres*/
table {
  th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    background-color: #eef0f4 !important;
  }
  .even-row {
    background-color: #f9f9fb !important;
  }
}

.ant-table-content {
  border-radius: 10px!important;
}
.ant-table-wrapper {
  margin-top: -20px;
  border-radius: 10px!important;
}
.anticon-search {
  svg {
    font-size: 23px;
    color: #939191;
  }
}

.aprovl {
  background-color: #dcfce7;
  padding: 5px 8px 5px 8px;
  border-radius: 4px;
}

.ant-pagination {
  justify-content: center!important;
}
.ant-pagination-item-active {
  background-color: rgb(42, 57, 88)!important;
  a{
    color: #fff!important;
  }
}
.ant-pagination {
  background-color: #f1f3f5!important;
  padding: 10px;
}
@media (max-width: 767px) {
  table {
    margin-top: 20px!important;
  }
}
.ant-radio-button-wrapper {
  ::before {
    background-color:transparent!important;
    width: 0px!important;
  }
}
.ant-radio-button-wrapper:not(:first-child)::before {
  background-color:transparent!important;
  width: 0px!important;
}

